.card-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* SIN OSCURECER */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.gender-card {
  width: 60%;
  max-width: 300px;
  background: #1f0030ee;
  border: 2px solid #b36cff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  color: #fff;
  animation: zoomIn 0.25s ease-out;
}

@keyframes zoomIn {
  from { transform: scale(0.4); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.small-chart {
  width: 90%;
  border-radius: 8px;
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
