.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35); /* menos oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}


.gender-card {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(1);
  width: 14vw !important;   /* ≈ 1/7 del ancho */
  height: auto;
  z-index: 5000 !important;
  background: #28002e;
  border: 2px solid #ff9aff;
  border-radius: 15px;
  padding: 12px;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.close-btn {
  position: absolute;
  top: 8px; right: 10px;
  font-size: 1.3rem;
  color: #cba4ff;
  background: none;
  border: none;
}

.card-image img {
  width: 100%;
  max-width: 220px;  /* imagen más pequeña */
  margin: 0 auto;
}

.gender-card {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(1);
  width: 14vw !important;   /* ≈ 1/7 del ancho */
  height: auto;
  z-index: 5000 !important;
  background: #28002e;
  border: 2px solid #ff9aff;
  border-radius: 15px;
  padding: 12px;
}

